<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.chenyilei.work.domain.mapper.TbActivitiesOrderDetailMapper">
  <resultMap id="BaseResultMap" type="cn.chenyilei.work.domain.pojo.activities.TbActivitiesOrderDetail">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="activities_id" jdbcType="INTEGER" property="activitiesId" />
    <result column="activities_name" jdbcType="VARCHAR" property="activitiesName" />
    <result column="number" jdbcType="INTEGER" property="number" />
  </resultMap>
</mapper>