<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.chenyilei.work.domain.mapper.TbActivitiesMapper">
  <resultMap id="BaseResultMap" type="cn.chenyilei.work.domain.pojo.activities.TbActivities">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="activities_id" jdbcType="INTEGER" property="activitiesId" />
    <result column="activities_user_id" jdbcType="INTEGER" property="activitiesUserId" />
    <result column="activities_name" jdbcType="VARCHAR" property="activitiesName" />
    <result column="activities_location" jdbcType="VARCHAR" property="activitiesLocation" />
    <result column="activities_status" jdbcType="VARCHAR" property="activitiesStatus" />
    <result column="activities_price" jdbcType="INTEGER" property="activitiesPrice" />
    <result column="activities_image" jdbcType="VARCHAR" property="activitiesImage" />
    <result column="activities_starttime" jdbcType="TIMESTAMP" property="activitiesStarttime" />
    <result column="activities_endtime" jdbcType="TIMESTAMP" property="activitiesEndtime" />
    <result column="activities_createtime" jdbcType="TIMESTAMP" property="activitiesCreatetime" />
    <result column="activities_updatetime" jdbcType="TIMESTAMP" property="activitiesUpdatetime" />
  </resultMap>
</mapper>