<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.chenyilei.work.domain.mapper.TbBindUserLandMapper">
  <resultMap id="BaseResultMap" type="cn.chenyilei.work.domain.pojo.land.TbBindUserLand">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ul_id" jdbcType="INTEGER" property="ulId" />
    <result column="ul_user_id" jdbcType="INTEGER" property="ulUserId" />
    <result column="ul_land_id" jdbcType="INTEGER" property="ulLandId" />
  </resultMap>
</mapper>