<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.chenyilei.work.domain.mapper.TbLandCartMapper">
  <resultMap id="BaseResultMap" type="cn.chenyilei.work.domain.pojo.land.TbLandCart">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="land_id" jdbcType="INTEGER" property="landId" />
    <result column="number" jdbcType="INTEGER" property="number" />
  </resultMap>
</mapper>