<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.chenyilei.work.domain.mapper.TbLandMapper">
  <resultMap id="BaseResultMap" type="cn.chenyilei.work.domain.pojo.land.TbLand">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="land_id" jdbcType="INTEGER" property="landId" />
    <result column="land_user_id" jdbcType="INTEGER" property="landUserId" />
    <result column="land_name" jdbcType="VARCHAR" property="landName" />
    <result column="land_status" jdbcType="INTEGER" property="landStatus" />
    <result column="land_rectangle" jdbcType="VARCHAR" property="landRectangle" />
    <result column="land_is_rent" jdbcType="BIT" property="landIsRent" />
    <result column="land_price" jdbcType="INTEGER" property="landPrice" />
    <result column="land_updatetime" jdbcType="TIMESTAMP" property="landUpdatetime" />
    <result column="land_rent_starttime" jdbcType="TIMESTAMP" property="landRentStarttime" />
    <result column="land_rent_endtime" jdbcType="TIMESTAMP" property="landRentEndtime" />
    <result column="land_createtime" jdbcType="TIMESTAMP" property="landCreatetime" />
  </resultMap>

  <select id="queryCustomerList" resultType="cn.chenyilei.work.domain.pojo.land.TbLand">
    SELECT
        tl.*
    FROM
        tb_bind_user_land tbul
        JOIN tb_land tl ON tbul.ul_land_id = tl.land_id
    WHERE
        tbul.ul_buy_user_id = #{userId}
  </select>

</mapper>