<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.chenyilei.work.domain.mapper.TbPlantingMapper">

  <select id="selectAllWithCustomer" resultType="cn.chenyilei.work.domain.pojo.land.TbPlanting">
  SELECT
      tp.*
  FROM
      tb_bind_user_land AS tbul
      JOIN tb_planting AS tp ON tp.planting_land_id = tbul.ul_land_id
  WHERE
      tbul.ul_buy_user_id = #{userId}
  </select>

    <select id="selectAllWithFarmer" resultType="cn.chenyilei.work.domain.pojo.land.TbPlanting">
      SELECT
          tp.*
      FROM
          tb_bind_user_land AS tbul
          JOIN tb_planting AS tp ON tp.planting_land_id = tbul.ul_land_id
      WHERE
          tbul.ul_sell_user_id = #{userId}
  </select>
</mapper>