<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >

<generatorConfiguration>
    <!-- 引入数据库连接配置 -->
    <properties resource="config/jdbc.properties"/>

    <context id="Mysql" targetRuntime="MyBatis3Simple" defaultModelType="flat">
        <property name="beginningDelimiter" value="`"/>
        <property name="endingDelimiter" value="`"/>

        <!-- 配置 tk.mybatis 插件 -->
        <plugin type="tk.mybatis.mapper.generator.MapperPlugin">
            <property name="mappers" value="tk.mybatis.mapper.common.Mapper"/>
        </plugin>

        <!-- 配置数据库连接 -->
        <jdbcConnection
                driverClass="${jdbc.driverClass}"
                connectionURL="${jdbc.connectionURL}"
                userId="${jdbc.username}"
                password="${jdbc.password}">
            <property name="nullCatalogMeansCurrent" value="true"/>
        </jdbcConnection>

        <!-- 配置实体类存放路径 -->
        <javaModelGenerator targetPackage="cn.chenyilei.work.domain.pojo" targetProject="src/main/java"/>

        <!-- 配置 XML 存放路径 -->
        <sqlMapGenerator targetPackage="mapper" targetProject="src/main/resources"/>

        <!-- 配置 DAO 存放路径 -->
        <javaClientGenerator
                targetPackage="cn.chenyilei.work.domain.mapper"
                targetProject="src/main/java"
                type="XMLMAPPER"/>

        <!-- 配置需要生成的表，% 代表所有 -->
        <table tableName="test_test%">
            <!-- mysql 配置  -->
<!--            <generatedKey column="user_id" sqlStatement="Mysql" identity="true"/>-->
        </table>
<!--        <table tableName="tb_user_detail%">-->
<!--            &lt;!&ndash; mysql 配置  &ndash;&gt;-->
<!--                        <generatedKey column="user_detail_id" sqlStatement="Mysql" identity="true"/>-->
<!--        </table>-->

<!--        <table tableName="tb_bind_user_land">-->
<!--            <generatedKey column="ul_id" sqlStatement="Mysql" identity="true"/>-->
<!--        </table>-->

<!--        <table tableName="tb_land">-->
<!--            <generatedKey column="land_id" sqlStatement="Mysql" identity="true"/>-->
<!--        </table>-->

<!--        <table tableName="tb_planting">-->
<!--            <generatedKey column="planting_id" sqlStatement="Mysql" identity="true"/>-->
<!--        </table>-->

<!--        <table tableName="tb_show">-->
<!--            <generatedKey column="show_id" sqlStatement="Mysql" identity="true"/>-->
<!--        </table>-->

<!--        <table tableName="tb_activities">-->
<!--            <generatedKey column="activities_id" sqlStatement="Mysql" identity="true"/>-->
<!--        </table>-->

<!--&lt;!&ndash;        土地的购物车和订单&ndash;&gt;-->
<!--        <table tableName="tb_land_cart">-->
<!--            <generatedKey column="id" sqlStatement="Mysql" identity="true"/>-->
<!--        </table>-->
<!--        <table tableName="tb_land_order">-->
<!--            <generatedKey column="id" sqlStatement="Mysql" identity="true"/>-->
<!--        </table>-->
<!--        <table tableName="tb_land_order_detail">-->
<!--            <generatedKey column="id" sqlStatement="Mysql" identity="true"/>-->
<!--        </table>-->
<!--&lt;!&ndash;    活动的购物车和订单&ndash;&gt;-->
<!--        <table tableName="tb_activities_cart">-->
<!--            <generatedKey column="id" sqlStatement="Mysql" identity="true"/>-->
<!--        </table>-->
<!--        <table tableName="tb_activities_order">-->
<!--            <generatedKey column="id" sqlStatement="Mysql" identity="true"/>-->
<!--        </table>-->
<!--        <table tableName="tb_activities_order_detail">-->
<!--            <generatedKey column="id" sqlStatement="Mysql" identity="true"/>-->
<!--        </table>-->


    </context>
</generatorConfiguration>